<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df7f5a5e-3c06-4975-86a9-700baf748348" Alias="articlePage" Level="2">
  <Info>
    <Name>Article Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fae0cfe0-57e0-49f9-af0d-1b2158e38c1a">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="936327bf-f452-4e62-8baf-88323eef60a7">ArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>