    @inherits UmbracoViewPage

    <nav id="nav_mobile" class="nav_mobile">
        <a href="javacsript:;" class="btn_close"><span class="icon icon-close"></span></a>
        <div class="inner">
            <div class="btn_cont"><a href="#" class="btn btn_contact"><span>יצירת קשר</span></a></div>
            <div class="search_cont"></div>
        </div>
    </nav>