<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4dc19fe-78df-427f-a602-9c85a20cc007" Alias="Header Properties - Title - Block List" Level="1">
  <Info>
    <Name>Header Properties - Title - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>