<?xml version="1.0" encoding="utf-8"?>
<Content Key="37538d2b-61e6-40e3-a57e-59378ac756e6" Alias="Article Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticlePage</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2023-09-08T02:12:47</CreateDate>
    <NodeName Default="Article Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="936327bf-f452-4e62-8baf-88323eef60a7">ArticlePage</Template>
  </Info>
  <Properties>
    <articleDesc>
      <Value><![CDATA[מהן בדיקות דם ושתן לתחילת הריון? צריך הפניה? עליי לצום? כמה עולות הבדיקות? היכן אוכל להיבדק? צריך להזמין תור? בתוך כמה זמן אקבל תוצאות והיכן אוכל לצפות בהן?   ]]></Value>
    </articleDesc>
    <contactPageImage>
      <Value><![CDATA[[
  {
    "key": "42c38bf6-2fff-40ca-a17c-4081d93b5391",
    "mediaKey": "ceebd04b-73ad-4d03-b407-3aa64a308171"
  }
]]]></Value>
    </contactPageImage>
    <pageTitle>
      <Value><![CDATA[הנחיות לבדיקות דם ושתן בהריון]]></Value>
    </pageTitle>
    <postHeaderTitle>
      <Value><![CDATA[אולי יעניין אותך גם]]></Value>
    </postHeaderTitle>
    <postImageOne>
      <Value><![CDATA[[
  {
    "key": "42b117e6-6cfc-4d87-871c-d4136f893469",
    "mediaKey": "768e4653-413c-4f9d-b5b8-c2a18adc5104"
  }
]]]></Value>
    </postImageOne>
    <postImageThree>
      <Value><![CDATA[[
  {
    "key": "bd789a81-ed8a-4f8a-9907-e6e427b98139",
    "mediaKey": "fabe4ab7-64bb-4a3c-8687-22abad70bbf8"
  }
]]]></Value>
    </postImageThree>
    <postImageTwo>
      <Value><![CDATA[[
  {
    "key": "5a95a0a6-baad-404e-bf7c-074d5eac5d9b",
    "mediaKey": "82f14f86-d7bd-4f7f-b87e-b9a67b15f712"
  }
]]]></Value>
    </postImageTwo>
    <postTitle>
      <Value><![CDATA[רפאל המרכז הרפואי החדש]]></Value>
    </postTitle>
    <readMoreButtonText>
      <Value><![CDATA[לבלוג המלא]]></Value>
    </readMoreButtonText>
    <title>
      <Value><![CDATA[רפאל | My site]]></Value>
    </title>
    <topImage>
      <Value><![CDATA[[
  {
    "key": "14c971fa-ec06-4f91-b300-7b9072518bdd",
    "mediaKey": "5286daa4-05fd-4c70-9509-8a812756defc"
  }
]]]></Value>
    </topImage>
    <topRightContentFour>
      <Value><![CDATA[מיד לאחר הביקור הראשון אצל הרופא או האחות ורצוי עד השבוע ה־12 להריון.]]></Value>
    </topRightContentFour>
    <topRightContentOne>
      <Value><![CDATA[מהן בדיקות דם ושתן לתחילת הריון?]]></Value>
    </topRightContentOne>
    <topRightContentThree>
      <Value><![CDATA[מתי אוכל לעשות את הבדיקות?]]></Value>
    </topRightContentThree>
    <topRightContentTwo>
      <Value><![CDATA[בדיקות שגרתיות בהריון כוללות בדיקות דם: ספירת דם, בדיקת סוג הדם ונוגדנים ל־Rh, בדיקת דם לסוכר בצום ובדיקת VDRL (לגילוי עגבת). בנוסף, נעשות בדיקת שתן לכללית ולתרבית. לעיתים תישלחי לבדיקות נוספות לפי שיקול דעת הצוות המטפל, למשל לבדיקת המצב החיסוני לווירוסים מסוימים (כמו CMV, HBV, HIV), תפקודי בלוטת התריס או בדיקות אחרות בהתאם למצבך הרפואי.]]></Value>
    </topRightContentTwo>
    <videoCoverImage>
      <Value><![CDATA[[
  {
    "key": "d7a46a9b-d881-468d-91d1-8d5c82cff670",
    "mediaKey": "193c1837-20a0-4c7c-a902-4f3b8e7f3002"
  }
]]]></Value>
    </videoCoverImage>
    <videoCoverTextOne>
      <Value><![CDATA[ד״ר רוגובסקי רותם]]></Value>
    </videoCoverTextOne>
    <videoCoverTextTwo>
      <Value><![CDATA[מידע גם על שאר הבדיקות בהריון]]></Value>
    </videoCoverTextTwo>
  </Properties>
</Content>