<?xml version="1.0" encoding="utf-8"?>
<Content Key="37538d2b-61e6-40e3-a57e-59378ac756e6" Alias="Article Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticlePage</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2023-09-08T02:12:47</CreateDate>
    <NodeName Default="Article Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="936327bf-f452-4e62-8baf-88323eef60a7">ArticlePage</Template>
  </Info>
  <Properties>
    <articleDesc>
      <Value><![CDATA[מהן בדיקות דם ושתן לתחילת הריון? צריך הפניה? עליי לצום? כמה עולות הבדיקות? היכן אוכל להיבדק? צריך להזמין תור? בתוך כמה זמן אקבל תוצאות והיכן אוכל לצפות בהן?   ]]></Value>
    </articleDesc>
    <pageTitle>
      <Value><![CDATA[הנחיות לבדיקות דם ושתן בהריון]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[רפאל | My site]]></Value>
    </title>
    <topImage>
      <Value><![CDATA[[
  {
    "key": "14c971fa-ec06-4f91-b300-7b9072518bdd",
    "mediaKey": "5286daa4-05fd-4c70-9509-8a812756defc"
  }
]]]></Value>
    </topImage>
  </Properties>
</Content>