<?xml version="1.0" encoding="utf-8"?>
<Media Key="fabe4ab7-64bb-4a3c-8687-22abad70bbf8" Alias="10" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-10T14:38:37</CreateDate>
    <NodeName Default="10" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wffl34v1/10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>