<?xml version="1.0" encoding="utf-8"?>
<Media Key="5286daa4-05fd-4c70-9509-8a812756defc" Alias="24" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-08T12:11:09</CreateDate>
    <NodeName Default="24" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ulnimux3/24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>