<?xml version="1.0" encoding="utf-8"?>
<Media Key="9179c40a-d094-472a-af93-b6dcc2d31fae" Alias="Screenshot 2023 09 06 172837" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230906172837</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-10T14:42:32</CreateDate>
    <NodeName Default="Screenshot 2023 09 06 172837" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/btchtemu/screenshot-2023-09-06-172837.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>